<div ng-controller='MainCtrl'>
  <div class='navbar'>
    <div class='container'>
      <form class='navbar-form navbar-left' ng-submit='getWeather();'>
        <input type='search' placeholder='Location' class="form-control" ng-model="location" ng-required> 
        <input type='submit' value='Search' class='btn btn-default' />
      </form>
    </div>
  </div>

  <div class='row'>
  <div class="col-md-6" ng-controller='CurrentCtrl'>
    <weather-tile></weather-tile>
  </div>
  <div class="col-md-6" ng-controller='ForecastCtrl'>
    
  </div>
  </div>

</div>
