<div ng-controller='MainCtrl'>
  <div class='navbar'>
    <div class='container'>
      <form class='navbar-form navbar-left' ng-submit='getWeather();'>
        <input type='search' placeholder='Location' class="form-control" ng-model="location" ng-required> 
        <input type='submit' value='Search' class='btn btn-default' />
      </form>
    </div>
  </div>

  <div class='row'>

    <div class="col-md-6">
      <weather-tile wly-title="'Current'" wly-main-data="currentMainData" wly-weather-data="currentWeatherData" degree-type="'F'"></weather-tile>
    </div>

    <div class="col-md-6">
      <ul class='list-group'>
        <li ng-repeat='dayData in forecastData'>
          <weather-tile wly-title="'Forecast'" wly-main-data="dayData.main" wly-weather-data="dayData.weather" degree-type="'F'"></weather-tile>
        </li>
      </ul>
    </div>

  </div>

</div>
